<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap Link, Leaflet and CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">


  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin="" />


  <!-- Link for css (swap out to the url link when deployment ready to be live)  -->
  <!-- <link rel="stylesheet" type="text/css" href="../static/css/style.css"> -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Project 2 - Marion County</title>

</head>

<body style="background-color:darkblue; padding-top:16px; padding-left:8px; padding-right:8px">

<!-- The container for map and covid filter-->
<div class="row pt-10 ms-2 me-2 padding-bottom:0px">
   <h4><em><b>Spotlight: Marion County</em></b>
</div>
<div class="row ms-8 me-2"></div>     
   <h1><em>COVID-19 and Unemployment</em></h1>
</div>

<div class="container-fluid p-2">
  
  <div class="row bg-white p-4 ms-2 me-2 justify-content-evenly"> 
    <h3> COVID-19 Resident Positivity</h3>
    <div class="col-5 ms-2 me-2">
     
      <div id="map">

      </div>
  
    </div>    
    
    <div class="col-6 bg-white ms-2 me-2">
      <!-- <div class='wrapper'> -->
      <div class= "row p-18">
        <div class="col-4 mt-20 bg-white p-4 ms-2 me-2">
          <aside class="filters">
            <div class="panel panel-default">
              <div class="panel-heading">Filter Search
              </div>
              <div class="panel-body">
                <form>
                  <div class="form-group">
                    <ul class="list-group" id="filters">
                      <li class="filter list-group-item">
                        <label for="date">Enter a Marion Co Zip</label>
                        <input class="form-control" id="location" type="text" placeholder="46204">
                      </li>
                    </ul>
                  </div>
                  <button id="filter-btn" type="button" class="btn btn-secondary">Filter Table</button>
                </form>
              </div>
            </div>
          </aside>
        </div>
        <div class="col-7 mt-20 bg-white p-4">
          <div id="table-area justify-content-evenly" class="">
            <table id="covid-table" class="table table-striped">
              <thead>
                <tr>
                  <th class="table-head">Zip Code</th>  
                  <th class="table-head">Population Total</th>           
                  <th class="table-head">Positive Residents</th>
                  <th class="table-head">% of Residents</th>
                                             
                </tr>
              </thead>
              <tbody id='covid-tbody'>
                  
              </tbody>
              </table>
            
          </div>  
        </div>  
        <div class= "row p-14">
        <div class="col-md-11 col-sm-4 col-xs-4 m-3 bg-white">
    
          <div class="card border-0">
            <div class="card-body">
              <h5 class="card-title"></h5>
              <p class="card-text">Note: <br><br>The zip code with greatest percentage of residents having tested positive 
                for COVID-19 is 46204. In this square mile area (center of downtown Indy), 25% of the
                5,125 residents have tested positive. The next highest percentages of resident positivity 
                are for 46217 and 46239.
                <br><br>
              
                The southside zip of 46227 has had the largest number of positive residents in Marion County, 
                with 6,865 residents having tested positive. </p>
            </div>
              
            
          </div> 
        </div>
      </div>
    </div> 
  </div>

  <div class="row mt-md-0 mt-sm-0 p-md-4 p-sm-4 ms-2 me-2 justify-content-evenly bg-white">
  <h3>Marion County Unemployment Claims</h3>
    <div class="col-md-12 pt-md-2 pt-sm-4 pb-2">
      <div class="chart">
        
      </div>
    </div>

    <!-- <div class="col-md-2 col-sm-2 col-xs-2 bg-white">
    
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text </p>
        </div> -->
          
        
      <!-- </div> -->

    </div>
  </div>


  <div class="row">
    <div class="col-9 margin-top:10px">
      <h1><em><br>Resources for Families in Need</em></h1>
     
    </div>
  </div>
</div>

  
<div class="container-fluid p-0">

  <div class="row ms-2 me-2">
    <div class="col-md-12 bg-white p-4 pt-md-8 pt-sm-4">
      <h3>Bus and Food Pantry Locations</h3>
      
   
  <div class="row">
    <div class="col-9 ms-2 me-2 bg-white">
      <div id="map2" style='height: 800px; width: auto;'>
      </div>
      <div class="row">
        <div class="col-12 ms-2 me-2">
          <div class="row p-2">
            <div class="col-2">
              <div class="bus">
              <b>Bus Stops</b>
              </div> 
            </div>
            <div class="col-4">
              <div class="food">
                  <b>Food Pantries <br> (on click, see hours where available) </b>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>  
  </div>
        <!--
        <div class= "row p-20">
          <div class="col-4 mt-20 bg-white p-4 ms-2 me-2">
            <aside class="filters2">
              <div class="panel2 panel-default">
                <div class="panel2-heading">Filter Search
                </div>
                <div class="panel2-body">
                  <form>
                    <div class="form2">
                      <div class="form2-group">
                        <ul class="list2-group" id="filters2">
                          <li class="filter2 list-group-item">
                            <label for="zip">Enter a Marion Co Zip</label>
                            <input class="form2-control" id="location2" type="text" placeholder="46204">
                          </li>
                        </ul>
                      </div>
                      <button id="filter-btn2" type="button" class="btn btn-secondary">Filter Table</button>
                    </div>
                  </form>
                </div>
              </div>
            </aside>
          </div>
          <div class="col-7 mt-20 bg-white p-4">
            <div id="table-area justify-content-evenly" class="">
              <table id="food-table" class="table table-striped">
                <thead>
                  <tr>
                    <th class="food-table-head">Zip Code</th>  
                    <th class="food-table-head">Food Pantry Site</th>           
                    <th class="food-table-head">Food Pantry Hours</th>
                    
                                                 
                  </tr>
                </thead>
                <tbody id='food-tbody'>
                      
                </tbody>
              </table>
                
            </div>  
          </div>  
        </div> -->
      <!-- </div>   

    </div>  -->
  </div>  

</div>
    <!-- Footer-->
  <div class="row pb-4 ms-2">  <!--ms-4 me-4"-->
    <div class="col-md-8 col-sm">
      <canvas id="canvas-basic">

      </canvas>
    </div>
    <div class="col-md-3 pt-2 pb-4">
      <div id="footer">
      <p>Data Analytics Project<br>Matt Canady, Lindsay Reynolds</p>
      </div>
    </div>
  </div>
</div>



    <!-- D3 -->
    <script src="https://d3js.org/d3.v5.min.js"></script>

    <!-- Leaflet JS -->
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
      integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
      crossorigin=""></script>

    <!-- API key  (if needed)-->
    <!-- <script type="text/javascript" src="../static/js/config.js"></script> -->

    <!-- API key if needed, with live deployment -->
    <script src="{{ url_for('static', filename='js/config.js') }}"></script>

    <!-- Bring in the file for granim.js -->
    <!-- <script type="text/javascript" src="../static/js/granim.js"></script> -->

    <!-- Granim with live deployment -->
    <script src="{{ url_for('static', filename='js/granim.js') }}"></script>

    <!-- JS -->
    <!-- <script type="text/javascript" src="../static/js/app.js"></script> -->

    <!-- Leaflet plugin extra markers -->
    <script src="{{ url_for('static', filename='css/leaflet.extra-markers.min.js') }}"></script>


    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
      crossorigin="anonymous"></script>

    <!-- JS, with live deployment -->
    <script src="{{ url_for('static', filename='js/app.js') }}" defer></script>


</body>

</html>